name: Snyk test
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: snyk/actions/setup@main
    - uses: actions/setup-go@v1
      with:
        go-version: "1.13"
    - name: Snyk test
      run: snyk test --all-projects
      env:
        SNYK_TOKEN: da433f8e-a592-4c2d-85ea-1a1deda09a63
        #SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
